<div class="hotel-grid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/img/image1.jpg" alt="Card image cap">
          <div class="card-content">
            <h4 class="card-title">Hilton Colombo</h4>
            <p class="card-text">
              <a href="mailto: hilton@example.com" class="email">hilton@example.com</a>
            <li class="address">Colombo</li>
            <li class="price-title">Starting From <span class="price">$400</span></li>
            </p>
            <a class="btn btn-primary button-click">Room Selection</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
