<div class="hotel-grid">
  <div class="row">
    <div class="col-md-12">
      <div class="room-card">
        <div class="row">
          <div class="col-md-4">
            <img class="card-img-top" src="assets/img/image1.jpg" alt="Card image cap">

            <span class="price-room">$150</span>
          </div>
          <div class="col-md-4">
            <h4 class="card-title">Standard Room</h4>
            <p class="card-text">
            <li>This is a standard room</li>
            <li class="room-type">Room Only</li>
            <li>
          <span class="chip">
              LCD TV
            </span>
            </li>
            </p>
          </div>
          <div class="col-md-4 rooms-selected">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
